<md-toolbar class="md-primary md-default-theme">
    <div class="md-toolbar-tools">
        <h2 class="md-flex">Twitter Search App</h2>
    </div>
</md-toolbar>

<md-content class="md-padding">
    <div></div>
    <md-button class="md-raised loginBtn" ng-click="TwitterLogin()">
        <md-icon md-svg-src="icons/twitterLogo.svg"></md-icon>
        Login with Twitter</md-button>

    <div class="imgPadding">
        <img ng-src="images/twitterTitle.png" class="imgSize"/>
    </div>

</md-content>